.sample {
  border:gray;
  border-width:10px; 
  border-style:solid;
  inline-size: 50vmin;
  block-size: 35vmin;
  background: linear-gradient(
    to bottom right, 
    hsl(0, 100%, 78%), 
    hsl(204, 100%, 79%)
  );
  border-radius: 1rem;
  position: relative;
}

.sample::before {
  content: '';
  position: absolute;
  inset: 0;
  background: linear-gradient(
    to right, 
    hsl(0, 100%, 78%), 
    hsl(204, 100%, 79%)
  );
  z-index: -1;
  transform: translateY(15%) scale(1.5);
  filter: blur(110px);
}

html {
  block-size: 100%;
}

body {
  background:black;
  min-block-size: 100%;
  min-inline-size: 100%;
  margin: 0;
  box-sizing: border-box;
  display: grid;
  place-content: center;
  font-family: system-ui, sans-serif;
}